html {
  overflow-x: hidden;
  font-size: 16px;
}

.app {
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  height: 3.5rem;
}

.navLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, #fceeb5 0%, #ee786e 100%);
  transform: skew(-20deg) translateX(-1rem);
  width: 15rem;
}

.navRight {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: aquamarine;
  text-decoration: none;
  height: 100%;
  width: 7.5rem;
  transform: skew(-20deg) translateX(1rem);
}

.navItem:hover {
  background-image: linear-gradient(to bottom right, #fceeb5 0%, #ee786e 100%);
  transition: background-image 1 s ease-in-out;
  color: rgb(255, 235, 207);
}

.navItem p {
  transform: skew(20deg);
  background: linear-gradient(to bottom right, #fceeb5 0%, #ee786e 100%);
}
