html {
  overflow-x: hidden;
  font-size: 16px;
}

.app {
}

body {
  font-family: "Orbitron", "Russo One", Arial, Helvetica, sans-serif;
}
/* Navbar ------------------------------------------------ */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, #3b3b3b 0%, #000000 100%);
  transform: skew(-20deg) translateX(-1rem);
  width: 15rem;
  user-select: none;
}

.logo {
  transform: skew(20deg);
  background-image: linear-gradient(to bottom right, #ffffff 0%, #ffc3be 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Rock Salt";
  font-size: 1.5rem;
}

.navRight {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  font-family: "Orbitron", "Russo One", Arial, Helvetica, sans-serif;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 7.5rem;
  transform: skew(-20deg) translateX(1rem);
  cursor: pointer;
}

.navItem:hover {
  background-image: linear-gradient(to bottom right, #fceeb5 0%, #ee786e 100%);
  transition: background-image 1 s ease-in-out;
}

.navItem:hover p {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.navItem p {
  transform: skew(20deg);
  background: linear-gradient(to bottom right, #fceeb5 0%, #ee786e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hamburgerMenu {
  display: none;
}

.hamburgerList {
  display: none;
  position: fixed;
  width: 30%;
  height: 0%;
  top: 3.5rem;
  right: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  background-color: red;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.hambItem {
}

@media screen and (max-width: 600px) {
  .navItem {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    width: 2rem;
    height: 80%;
    margin-right: 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 320px) {
}

/*banner --------------------- */

.banner {
  background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.introMegaTextCointainer {
  width: 100%;
  height: 35%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introMegaText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  font-family: "Russo One", "Orbitron", Arial, Helvetica, sans-serif;
}

.MT1 {
  height: 8rem;
  display: flex;
  align-items: center;
}

.MT2 {
  height: 8rem;
  display: flex;
  align-items: center;
}

.whereRU {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 3%;
  top: 20%;
  user-select: none;
}

.whereRUBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  font-family: "Orbitron", "Russo One", Arial, Helvetica, sans-serif;
}

.whereRUsymbol1,
.whereRUsymbol2,
.whereRUsymbol3,
.whereRUsymbol4 {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: gray;
}

.introFunFact {
  position: absolute;
  width: 17.5%;
  height: 40%;
  right: 1.5%;
  top: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.introFunFactImg {
  width: 75%;
  height: 70%;
  background-color: rgb(255, 255, 54);
  clip-path: polygon(0 25%, 25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

.introFunFactText {
  width: 90%;
  height: 30%;
  background-color: green;
}

.chatBotExample {
  width: 100%;
  height: 60%;
  background-color: aquamarine;
  display: flex;
  align-items: last baseline;
  justify-content: center;
}

.chatBotBox {
  background-color: #ee786e;
  width: 50%;
  height: 80%;
}

.bob {
  background-color: yellow;
  width: 100%;
  height: 2rem;
}

.bobby {
  background-color: yellowgreen;
  width: 100%;
  height: 2rem;
}
/* overview ------------------------------------------------ */

.overview {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewContent {
  display: flex;
  flex-direction: row;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 98.5%;
  border-radius: 1rem;
}

.overviewTextBox {
  background-color: rgb(255, 255, 132);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  height: 40rem;
  margin-left: 5%;
}

.overviewRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5%;
}

.overviewPicture {
  background-color: rebeccapurple;
  width: 30rem;
  height: 30rem;
}

.walk {
  background-color: darkgoldenrod;
  width: 30rem;
  height: 30rem;
}

.blackSpace {
  width: 100%;
  height: 80vh;
  background-color: black;
}

.blackSpace2 {
  width: 100%;
  height: 10vh;
  background-color: black;
}

.footer {
  background-color: #fcee0a;
  margin-top: 0;
  overflow: hidden;
  font-size: 1.25rem;
}

.footer img {
  width: 160rem;
  user-select: none;
}

.footerContent {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
